
.idea/workspace.xml.tmp
.idea/workspace.xml
.idea/vcs.xml
.idea/other.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/472-mp1.iml
